@import 'base';

// button {
//   margin: 0 10px;
//   // min-width: 90px !important;
//   padding: 0 5px !important;
// }

.root {
  width: 100%;
  // @extend .flex-column-center;
}
.appBar {
  @extend .flex-column-center;

}

.toolbar {
  max-width: 1024px !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
  a {
    margin: 0 10px;
    &:hover {
      color: rgba(255, 255, 255, 0.7)
    }
  }
}

.flex {
  flex: 1;
  text-transform: uppercase;
}
.container {
  @extend .flex-column-center;
}
.body {
  padding-top: 74px;
  max-width: 1024px !important;
  width: 100%;
  margin: 0 auto;
  // min-height: 1800px;
}
