@import 'base';

.container {
  @extend .flex-column;
  min-width: 320px;
}

//tab

.appBar {
  margin-top: 20px;
  background-color: transparent !important;
  box-shadow: none !important;
}

.bodyContainer {
  max-width: 800px;
  // // margin-top: 20px;
  // color: rgba(0, 0, 0, 0.596);
  // //min-height: 500px;
  // display: flex;
  // align-items: stretch;
}

.badge {
  span {
    top: -5px!important;
    right: -17px!important;
    background-color: #f79e1a;
    height: 14px;
    width: 14px;
    font-size: 0.55rem;
  }
}