@import 'base';
@import 'button';

.container {
    max-width: 700px;
    // /padding: 20px;
    //min-width: 500px;
}

.btnContinue {
  @extend .primaryButton ;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.btnBack {
  border-radius: 30px !important;
  width: 100px !important;  
}

.stepper {
  box-shadow: 0 0 0 0 white !important;
  background-color: #fafafa !important
}

.paper {
  padding: 20px
}
